@use "./partials/common" as *;
@use "./partials/reset" as *;
@use "./partials/variables" as *;
@use "./partials/mixin" as *;
@use "./partials/utils" as *;
@use "./partials/typography" as *;

/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $body-bg-color;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    background-color: $bg-header;
    box-shadow: 0 2px rgba(158, 157, 157, 0.63);
    width: 100%;
    z-index: 1;
    ul {
        padding-left: 0;
        li {
            display: inline-block;
            font-weight: bold;
            a {
                color: white;
                text-decoration: none;
                padding-right: 10px;
                display: inline-block;
            }
            img {
                @extend %white-icons;
                height: 18px;
                padding-left: 8px;
            }
        }
    }
}

.logo {
    display: inline-block;
    height: 25px;
}
main {
    padding-top: 60px;
    .hover-img {
        display: none;
    }

    .content:hover .hover-img {
        display: inline-block;
        cursor: pointer;
    }

    .content:hover .main-img {
        display: none;
        cursor: pointer;
    }

    .brand {
        font-size: 15px;
    }

    .price {
        font-size: 14px;
    }

    .red-text {
        color: $price-color;
        margin-right: 4px;
    }

    .discount {
        background-color: $bg-discount-color;
        padding: 5px 8px;
        color: white;
        font-size: 11px;
        margin-right: 5px;
    }

    .sustainability {
        background-color: $bg-eco-color;
        padding: 5px 8px;
        color: white;
        font-size: 11px;
    }

    .product {
        font-size: 13px;
    }

    .content {
        position: relative;
    }

    .content img {
        width: 100%;
    }

    .label {
        position: absolute;
        bottom: 40px;
        left: 0px;
    }

    .heart {
        position: absolute;
        top: 10px;
        right: 0px;
        text-align: center;
        padding: 1px 11px;
        background-color: white;
        font-size: 30px;
    }

    .fav {
        color: red;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }

    .notFav {
        color: black;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}

footer {
    width: 100%;
    background-color: $bg-footer;
    padding: 30px 0;
    color: white;
    ul {
        padding-left: 0;
        margin-bottom: 0;
        li {
            padding-right: 20px;
        }
    }
    img {
        @extend %white-icons;
        height: 18px;
        padding-right: 2px;
    }
}
